{% extends "base.html" %}

{% block content %}
    

    {% if users == 0 %}
    <p>No users yet!</p>
    {% else %}

    <h2>Member List</h2>
    <ul>
    {% for user in users %}
        <article class="media content-section">

              <a class="content-section article-title article-title-hover" href="/blog?user_id={{user.id}}">{{ user.username }}</a>

        </article>
    {% endfor %}
    </ul>
{% endif %}


{% endblock %}


<!-- https://stackoverflow.com/questions/7478366/create-dynamic-urls-in-flask-with-url-for#7478705 -->
<!-- http://flask.pocoo.org/docs/1.0/api/#flask.url_for -->


