* { margin: 0; padding: 0;}
@media only screen and (min-width : 320px) and (max-width : 480px) {/*--- Mobile portrait ---*/}
@media only screen and (min-width : 480px) and (max-width : 595px) {/*--- Mobile landscape ---*/}
@media only screen and (min-width : 595px) and (max-width : 690px) {/*--- Small tablet portrait ---*/}
@media only screen and (min-width : 690px) and (max-width : 800px) {/*--- Tablet portrait ---*/}
@media only screen and (min-width : 800px) and (max-width : 1024px) {/*--- Small tablet landscape ---*/}
@media only screen and (min-width : 1024px) and (max-width : 1224px) {/*--- Tablet landscape --- */}

*, *::before, *::after {box-sizing: border-box; }

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.7rem;
  background: linear-gradient(95deg, #fcf8bb98, #fdfdfb5b);
  color: #333333;
  margin-top: .5rem;
}
h1, h2 {
  color: #431406;
}
.bg-forest {
  /*background-color: #2B9113FF;*/
  background: linear-gradient(180deg, #fcf8c481, #8AB476BE);
  padding: 10px 25px 20px;
  margin: 5px 0px 5px 0px;
  /*background-position-x: absolute;*/
  -moz-box-shadow: 2px 2px 3px 0px rgba(63, 63, 38, .6392156862745098);
  box-shadow: 2px 2px 3px 0px rgba(63, 63, 38, .6392156862745098);
}
.site-header .navbar-nav .nav-link {
  color:  #6A4031;
  margin: 4px;
}
.site-header .navbar-nav .nav-link:hover {
  color:  #657031;
}
.site-header .navbar-nav .nav-link .nav-item-logo {
  font-weight: 500;
}
.nav-item-logo {
  /*display: inline-block;*/
  float:right;
  clear:right;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin: 10px 0px 5px 0px;
  -moz-box-shadow: 1px 1px 2px 0px rgba(63, 63, 38, .6392156862745098);
  box-shadow: 1px 1px 2px 0px rgba(63, 63, 38, .6392156862745098);
}
.article-title {
  text-decoration: none;
  color: #6A4031;
  display: inline-block;
}
.article-title-hover:hover {
  color: rgba(141, 163, 120, 1);
  /*color: #FCF8BBFF;*/
  /*letter-spacing: 0.01em;*/
  text-shadow:
      .3px .3px 0 #4C2F25,
      -.3px -.3px 0 #4C2F25,
      .3px .3px 0#4C2F25,
      -.3px -.3px 0 #4C2F25,
      .3px .3px 0 #4C2F25;
}

.article-content {
  white-space: pre-line;
  margin-left: 10px;
  margin-top: 10px;
  color: #4C2F25;
}
.time-date {
  float:right;
  font-size: 0.8em;
}
.add-article-content {
  padding-top: 3%;
}
.form-group {
  font: 400 1.3em/1.5 Helvetica, Verdana, sans-serif;
  color: rgb(48, 23, 6);
  border-bottom: 1px solid rgba(48, 23, 6, 0.24);
  margin-right: 4%;
  position: relative;
  border-style: none;
}
.blog-title-label, .blog-text-label, .form-label {
  margin-left: 4%;
  color:  rgb(63, 50, 34);
}
.form-title-field {
  background: #FCFAE9CB;
  padding: 1em 0em 1em .5em;
  margin-left: 4%;
  margin-bottom: 0.5em;
  width: 90%;
  border-radius: 0.4em;
}
.article-text {
  font: 100 .5em/1 Helvetica, Verdana, sans-serif;
  min-height: 15em;
  text-align: left;
  overflow: auto;
  resize: vertical;
  font-size: 90%;
}
.submit-btn {
  color: rgb(63, 50, 34);
  background: linear-gradient(95deg, #fcf8c481, #8ab47681);
  width: 15%;
  height: 2em;
  margin-left: 65%;
  margin-top: 1em;
  border-radius: 0.3em;
  font-weight: bold;
  max-width: 8em;
}
.submit-btn:hover {
  background-color: #fcf8bb98;
  border-color: darkgreen;
}
input[type=text], [type=password],[type=email], textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  border: 2px solid #e0ccb1;
}

input[type=text], [type=password], [type=email]:focus, textarea:focus {
  box-shadow: 0 0 5px rgba(141, 163, 120, 1);
  border: 1px solid rgba(141, 163, 120, 1);
  font-size: 100%;
}
input:required:invalid, input:focus:invalid {
    color: rgb(225, 0, 0);
}
input:required:valid {
  color: rgb(41, 63, 8);
  font: bold;
}
